/* Стили для всего документа */
body {
    font-family: Arial, sans-serif; /* Используем шрифт Arial или аналогичный без засечек */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}

/* Стили для заголовка страницы */
header {
    background-color: #4A4848; /* Цвет фона темный серый */
    color: #fff; /* Цвет текста белый */
    padding: 10px 0; /* Внешний отступ сверху и снизу 10 пикселей, внутренний отступ нулевой */
}

/* Стили для контейнера */
.container {
    max-width: 80%; /* Максимальная ширина контейнера - 80% от родительского элемента */
    margin: 0 auto; /* Выравнивание по центру с помощью автоматических внешних отступов по горизонтали */
    padding: 20px; /* Внутренний отступ внутри контейнера */
}

/* Стили для содержимого контейнера */
.text-container {
    text-align: center;
}

/* Стили для навигационной панели */
nav {
    display: flex; /* Используем флекс-контейнер для расположения ссылок в ряд */
    justify-content: space-between; /* Распределение пространства между ссылками */
    align-items: center; /* Выравнивание элементов по вертикали */
}


/* Стили для ссылок в навигационной панели */
nav li {
    display: inline-block; /* Отображаем элементы в строку и обеспечиваем внешний вид "блока" */
    font-size: 20px; /* Размер шрифта для элементов списка навигации */
    padding: 20px; /* Добавляем внутренний отступ для создания пространства внутри элементов списка */
}

nav a {
    color: #fff; /* Цвет текста ссылок белый */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    margin: 0 10px; /* Внешний отступ слева и справа у ссылок */
}

/* Стили для основного контента */
main {
    padding: 20px; /* Внутренний отступ внутри основного контейнера */
}

main a {
    color: #000000; /* Цвет текста ссылок белый */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    margin: 0 10px; /* Внешний отступ слева и справа у ссылок */
}

/* Стили для подвала страницы */
footer {
    background-color: #4A4848; /* Цвет фона темный серый */
    color: #fff; /* Цвет текста белый */
    text-align: center; /* Выравнивание текста по центру */
    padding: 10px 0; /* Внешний отступ сверху и снизу 10 пикселей, внутренний отступ нулевой */
}

/* Стили для параграфов */
p {
    font-size: 16px; /* Устанавливаем размер шрифта 16 пикселей для текста абзацев */
    line-height: 1.5; /* Устанавливаем межстрочный интервал на 1.5, для улучшения читаемости */
    margin-bottom: 10px; /* Добавляем нижний отступ 10 пикселей, чтобы создать пространство между абзацами */
}

/* Стили для стилизованной кнопки */
.styled-button {
    background-color: #4A4848; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    padding: 10px 20px; /* Внутренние отступы кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругление углов */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Изменение курсора при наведении */
}

/* Стили для ссылок внутри кнопки */
button a {
    color: #fff; /* Цвет текста ссылок белый */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    margin: 0 10px; /* Внешний отступ слева и справа у ссылок */
}

/* Эффект при наведении на стилизованную кнопку */
.styled-button:hover {
    background-color: #2980b9; /* Изменение цвета фона при наведении */
}

/* Эффект при наведении на ссылки в списке */
li a:hover {
    color: #2980b9; /* Цвет текста ссылки при наведении */
}
